body{
	font-family: Arial;
	background-color: #CCC;
	width: 80%;
	margin: 20px auto;
}
header{
	background-color: #303030;
	color: #fff;
	padding: 10px;
}
header ul{
	list-style: none;
}
header ul li a{
	color: #FFF;
	text-decoration: none;
	padding: 10px;
}
header ul li a:hover {
	background-color: #ef8354;
	}
main p {
	background-color: #460B00;
	padding: 30px;
	color: white;
	text-align: center;
	font-family: "Comic Sans", "Comic Sans MS", cursive, "Times New Roman",Serif,Times,arial;
}
main {
	background-color: #fff;
	padding: 20px;
}
footer{
	background-color: #303030;
	color: #FFF;
	padding: 10px;
}
h2{
	text-align: center;
}
h1{
	text-align: center;
	color: #6c0404;
}
main img{
	padding: 20px;
	background-color: #fee6e6;
}