body{
	font-family: Arial;
	background-color: #CCC;
	width: 80%;
	margin: 20px auto;
}
header{
	background-color: #303030;
	color: #fff;
	padding: 10px;
}
header ul{
	list-style: none;
}
header ul li a{
	color: #FFF;
	text-decoration: none;
	padding: 20px;
}
header ul li a :hover {
	background-color: #ef8354;
}
main p {
	background-color: #460B00;
	padding: 30px;
	color: white;
}
main {
	background-color: #fff;
	padding: 20px;
}
footer{
	background-color: #303030;
	color: #FFF;
	padding: 10px;
}
h2{
	text-align: center;
}